$lightBlue: #D5F1F0;
$lightPink: #F5CBD3;
$darkBlue: #75CBD2;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


html body {
  overflow-y: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: $darkBlue;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


header {
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

ul#main_navigation {
  background-color: $lightPink;
  li {
    display: inline;
  }
}

footer {
  background-color: $darkBlue;
  li{
  color: $lightBlue;
  }
}

#content {
  // background-color: $darkBlue;
  background-color: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
}
